<div class="top">
    <div class="top-content">
        <h1 class="top-content-title">投稿一覧</h1>
        <div class="top-content-headline">
            <%= link_to "ALHの好きなところ15選へ",new_post_path, class: "to-post-new" %>
        </div>
    </div>
</div>

